﻿/*
	Theme Name: Genesis Cards
	Theme URI: http://brandoncoppernoll.com/
	Description: Genesis Cards is a mobile-responsive and HTML5 WordPress theme built from the Genesis Framework by StudioPress.
	Author: Brandon Coppernoll
	Author URI: http://brandoncoppernoll.com/

	Version: 1.4.3

	Tags: one-column, two-columns, responsive-layout, custom-menu, sticky-post, theme-options, threaded-comments

	Template: genesis
	Template Version: 2.5.3
    
    Bitbucket Theme URI: https://bkcoppernoll@bitbucket.org/coppernolldev/genesis-cards
    Bitbucket Branch:    master

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php 
*/

/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- Primary Navigation
	- Secondary Navigation
	- Skip Links
    - Off-Canvas
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
    - Masonry & Infinite Scroll
    - Title Bar
- Sidebars
    - Nav-widget
- Footer Widgets
- Site Footer
- Media Queries
	- Retina Display
	- Max-width: 1200px
	- Max-width: 960px
	- Max-width: 800px
- Print Styles
*/


/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#333}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


/* ## Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
    font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
    font-size: 1.8rem;
}

body {
	background-color: #f5f5f5;
	color: #3f4652;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

.brick a.featured-post-link .overlay,
.brick .entry-header .entry-meta a,
.genesis-nav-menu .menu-item a,
.brick .entry-footer a.more-link {
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}

a {
	color: #18405f;
	text-decoration: underline;
    font-weight: 600;
}

a:hover,
a:focus {
	color: #3f4652;
	text-decoration: none;
}

p {
	margin: 0 0 28px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #3f4652;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery img {
	border: 1px solid #ddd;
	height: auto;
	padding: 4px;
}

.gallery img:hover,
.gallery img:focus {
	border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #3f4652;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #3f4652;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #3f4652;
	font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #3f4652;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight:  600;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
    text-decoration: none;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus  {
	background-color: #18405f;
	color: #fff;
}

.entry-content .button:hover,
.entry-content .button:focus {
	color: #fff;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
	background-color: #18405f;
	color: #fff;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover,
.footer-widgets button:focus,
.footer-widgets input:focus[type="button"],
.footer-widgets input:focus[type="reset"],
.footer-widgets input:focus[type="submit"],
.footer-widgets .button:focus {
	background-color: #fff;
	color: #3f4652;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

th {
	font-weight: 400;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #3f4652;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1200px;
}

.site-inner {
	clear: both;
	padding-top: 40px;
}

.page.page-template-default .site-inner,
.single .site-inner {
    padding-top: 0;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 980px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* ### Content */

.content {
	float: right;
	width: 800px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 580px;
}

.full-width-content .content {
	width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
	float: left;
    border-radius: 50%;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.archive-description,
.author-box {
	background-color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 40px;
	padding: 40px;
}

.author-box-title {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
	margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
	width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* ## Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
	font-size: 2rem;
}

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;
}

.entry-title a,
.sidebar .widget-title a {
	color: #3f4652;
}

.entry-title a:hover,
.entry-title a:focus {
	color: #18405f;
}

.widget-title {
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 20px;
}

.footer-widgets .widget-title {
	color: #fff;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.sticky {
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 28px;
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 2px solid #f5f5f5;
	margin-bottom: 20px;
	padding: 0 0 24px;
}

.footer-widgets .entry {
	border-bottom: 1px dotted #666;
}

.featured-content .entry-title {
	font-size: 20px;
	font-size: 2rem;
}


/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
	color: #fff;
}

.sidebar .widget.enews-widget {
	background-color: #3f4652;
}

.enews-widget input,
.enews-widget input:focus {
	border: 1px solid #3f4652;
}

.enews-widget input {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	background-color: #18405f;
	color: #fff;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"],
.enews-widget input:focus[type="submit"]  {
	background-color: #fff;
	color: #3f4652;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #3f4652;
	outline: #ccc solid 1px;
}

/*
	Title: How to Add a Mobile-Friendly, Off Canvas Menu in Genesis
	Author: Calvin Koepke (@cjkoepke)
	Link: http://www.calvinkoepke.com/add-a-mobile-friendly-off-canvas-menu-in-genesis
*/

/* # Off-Canvas
--------------------------------------------- */

.off-canvas-active,
.off-canvas-active .site-container{ 
	overflow: hidden;
}

.nav-primary,
.site-container,
.site-overlay {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}

.nav-primary {
	-webkit-transform: translateX(360px);
	-moz-transform: translateX(360px);
	-ms-transform: translateX(360px);
	-o-transform: translateX(360px);
	transform: translateX(360px);
}

.off-canvas-active .nav-primary,
.site-container {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.off-canvas-active .site-container {
	-webkit-transform: translateX(-360px);
	-moz-transform: translateX(-360px);
	-ms-transform: translateX(-360px);
	-o-transform: translateX(-360px);
	transform: translateX(-360px);
}

/* Site Overlay
--------------------------------------------- */
.site-overlay {
	display: none;
    background-color: rgba(44, 44, 44, 0.5);
}

.off-canvas-active .site-overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9998;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	min-height: 130px;
    position: relative;
    
    -webkit-box-shadow: 0px 2px 8px 0px rgba(51,51,51,0.2);
    -moz-box-shadow: 0px 2px 8px 0px rgba(51,51,51,0.2);
    box-shadow: 0px 2px 8px 0px rgba(51,51,51,0.2);
}

.site-header .wrap {
	padding: 10px 0;
}

.stickymenu {
    position: fixed;
    width: 100%;
    left: 0;

    z-index: 9997;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;
	width: 360px;
}

.header-full-width .title-area {
	width: 100%;
}

.site-title {
	font-size: 40px;
	font-size: 4rem;
	font-weight: 600;
	line-height: 1.2;
    margin-top: 10px;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: #3f4652;
    text-decoration: none;
}

.header-image .site-title > a {
	background: url(images/logo.png) no-repeat left;
	float: left;
	min-height: 60px;
	width: 100%;
}

.site-description {
	font-size: 20px;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

.site-header .site-avatar {
    position: relative;
    float: left;
    margin: 0 20px 0 0;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	font-size: 16px;
    font-size: 1.6rem;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding-bottom: 40px; 
}

.genesis-nav-menu .menu-item {
	margin: 0;
}

.genesis-nav-menu .menu-item a {
	display: block;
	color: #ffffff;
	padding: 10px 40px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 16px;
    font-size: 1.6rem;
	text-transform: uppercase;
	border-bottom: none;
    text-decoration: none;
}

.genesis-nav-menu .menu-item a:hover {
    color: #fff;
    background-color: #18405f;
}

.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	opacity: 1;
}

.genesis-nav-menu .sub-menu {
	display: block;
}

.genesis-nav-menu .sub-menu a {
    display: block;
    font-size: .9em;
    line-height: 1.2em;
    text-transform: none;
    font-weight: normal;
    margin-left: 20px;
    -webkit-font-smoothing: antialiased;
}


.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	color: #ffffff;
	list-style-type: none;
	padding: 30px 0;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	    padding: 10px 40px;
}

.genesis-nav-menu > .search input[type="search"] {
    font-size: 16px;
    font-size: 1.6rem;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
	margin-top: -56px;
}

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	position: fixed;
	width: 360px;
	height: 100%;
	top: 0;
    right: 0;
	z-index: 9999;
	background: #3f4652;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.nav-primary a {
	color: #fff;
}

.nav-primary a:hover,
.nav-primary .current-menu-item > a,
.nav-primary .sub-menu .current-menu-item > a:hover {
	color: #d3c796; 
}

.nav-primary .sub-menu .current-menu-item > a:hover {
	color: #fff; 
}

/* Menu Button
--------------------------------------------- */

.site-header > .wrap {
	position: relative;
}

.menu-btn {
    position: absolute;
    top: 50%;
    right: 0;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-size: 2rem;
    margin-top: -44px;
}

.menu-btn:hover,
.off-canvas-active .menu-btn {
	color: #18405f;
}

.menu-btn span {
    line-height: 1.6;
    width: 64px;
    height: 64px;
    font-size: 64px;
    font-weight: 300;
}

/* Close Button
--------------------------------------------- */

.nav-primary .close-btn {
	color: #ffffff;
	display: block;
	font-weight: 300;
	font-style: italic;
	font-family: "Open-Sans", sans-serif;
	font-size: 18px;
    font-size: 1.8rem;
	padding: 50px 40px 20px;
    text-decoration: none;
}

.nav-primary .close-btn:hover {
	text-decoration: none;
	opacity: 1;
	color: #d3c796;
}

.nav-primary .close-btn span {
    font-size: 24px;
    font-size: 2.4rem;
    margin-top: -3px;
    margin-left: 5px;
    font-weight: normal;
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	background-color: #fff;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
	padding: 50px 60px;
}

.content .entry {
	background-color: #fff;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #3f4652;
	color: #ddd;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.brick .entry-header p.entry-meta {
    font-size: 14px;
    font-size: 1.4rem;
}

.brick .entry-header p.entry-meta:before {
    position: relative;
    float: left;
    margin-right: 20px;
    margin: -8px 14px 0 0;
    content: "\f318";
    font-family: dashicons;
    width: 24px;
    height: 24px;
    font-size: 24px;
    font-style: normal;
}

.brick .entry-header .entry-meta a {
    font-size: 12px;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    color: #3f4652;
}

.brick .entry-header .entry-meta a:hover {
    color: #18405f;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #3f4652;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a {
	background-color: #18405f;
	text-decoration: underline;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings, 
#disqus_thread {
	background-color: #fff;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings,
#disqus_thread {
	padding: 40px 40px 16px;
}

.entry-comments {
	padding: 40px;
}

.comment-header {
	font-size: 16px;
	font-size: 1.6rem;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: 0;
}

.comment-content {
	clear: both;
	word-wrap: break-word;
}

.comment-list li {
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 24px;
}

/*  ## Masonry & Infinite scroll
--------------------------------------------- */
#container {
	margin-bottom: -1.875em; 
	margin-left: -1.562%; 
	overflow: hidden;
	padding-bottom: 160px;
    position: relative;
    width: 103.125%; 
}

#container .pagination {
	display: none;
}

.brick {
	background: #f8f9fa;
	float: left;
	font-size: 14px;
    font-size: 1.4rem;
	margin: 0 1.515% 1.875em !important;
	padding: 0 !important;
    width: 30.303%;  
    
    -webkit-box-shadow: 2px 2px 5px 0px rgba(51,51,51,0.4);
    -moz-box-shadow: 2px 2px 5px 0px rgba(51,51,51,0.4);
    box-shadow: 2px 2px 5px 0px rgba(51,51,51,0.4);
}

.brick--width2 {
    width: 63.506%;
}

.brick--width3 {
    width: 100%;
}

#infscr-loading {
	bottom: 0;
	clear: both;
  	left: 25%;
  	margin: 4em auto;
  	position: absolute;
  	right: 25%;
  	text-align: center;
  	width: 50%;
  	-webkit-animation-delay: -0.16s;
  	animation-delay: -0.16s;
}

.brick .entry-header .entry-meta {
    padding: 20px 5%;
    margin-bottom: 0;
    border-bottom: 2px solid #f5f5f5;
}

.brick a.featured-post-link {
    position: relative;
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
    background-color: #18405f;    
}

.brick a.featured-post-link:hover {
    opacity: 0.9;
}

.brick a.featured-post-link .overlay {    
    display: inline-block;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    bottom: 0;
}

.brick a.featured-post-link .overlay {
    background: rgba(24,64,95,0.6);
}

.brick a.featured-post-link .overlay:before {
    position: absolute;
    content: "\f345";
    color: #fff;
    font-family: dashicons;
    width: 64px;
    height: 64px;
    font-size: 64px;
    font-style: normal;
    top: 50%;
    left: 50%;
    margin-top: -48px;
    margin-left: -32px;
}

.brick a.featured-post-link.image .overlay:before {
    content: "\f306";
}

.brick .featured-post-link:hover > .overlay {
    opacity: 1;
}

.brick img.centered {
    margin: 0;
    clear: both;
}

.brick img.centered:hover {
    opacity: 0.75;
}

.brick .entry-content {
    padding: 20px 5% 0;
}

.brick .entry-content p {
    margin-bottom: 20px;
}

.brick .entry-title {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 600;
}

.brick .entry-title a,
.brick .entry-title a:hover {
    text-decoration: none;
}

.brick .entry-footer {
}

.brick .entry-footer a.more-link {
    display: block;
    padding: 20px 5%;
    color: #fff;
    background-color: #18405f;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    font-size: 1.6rem;
}

.brick .entry-footer a.more-link:hover {
    color: #fff;
    background-color: #3f4652;
    text-decoration: none;
}

.brick .entry-footer a.more-link:before {
    position: relative;
    float: left;
    margin: -4px 14px 0 0;
    content: "\f345";
    color: #fff;
    font-family: dashicons;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-size: 2rem;
    font-style: normal;
}

/* ## Different post formats in brick
------------------------------------- */
.brick.format-quote {
    background-color: #f68328;
    color: #3f4652;
    font-size: 24px;
    font-size: 2.4rem;
    text-align: center;
}

.brick.format-quote blockquote:before {
    content: "\f122"; /* adds dashicon */
    display: block;
    -webkit-font-smoothing: antialiased;
    font: normal 48px/1 'dashicons';
    height: 60px;
    line-height: 60px;
    position: absolute;
      top: 20px;
      left: 50%;
    margin-left: -30px;
    text-align: center;
    width: 60px;
}

.brick.format-quote blockquote {
    margin: 70px auto 20px auto;
    text-align: center;
    font-weight: 400;
    border: none;
}

.brick.format-quote a {
    color: #3f4652;
    text-decoration: none;
}

.brick.format-quote a:hover {
    color: #3f4652;
    text-decoration: underline;
}

.brick.format-image {
    overflow: hidden;
}

.brick.format-image .entry-content {
    display: none;
    padding: 0;
}

.brick.format-link {
    background-color: #18405f;
    color: #fff;
    font-size: 28px;
    font-size: 2.8rem;
    text-align: center;
}

.brick.format-link .link-disclaimer {
    font-size: 20px;
    font-size: 2rem;
    font-weight: 300;
}

.brick.format-link h2 {
    font-size: 30px;
    font-size: 3rem;
    font-weight: 400;
    margin: 70px auto 20px auto;
}

.brick.format-link .entry-title a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.brick.format-link h2 a:before {
    content: "\f103";

    display: block;
    -webkit-font-smoothing: antialiased;
    font: normal 48px/1 'dashicons';
    height: 60px;
    line-height: 60px;
    position: absolute;
      top: 20px;
      left: 50%;
    margin-left: -30px;
    text-align: center;
    width: 60px;
}

.brick.format-link .entry-title a:hover {
    color: #eee;
    text-decoration: none;
}

/*  ## Title Bar
--------------------------------------------- */
#title_bar {
    background-color: #3f4652;
    color: #fff;
    font-weight: 400;
}

#title_bar .wrap {
    padding: 40px 0 20px;
    padding: 4rem 0 2rem;
    margin: 0 auto;
    text-align: center;
}

#title_bar h1 {
    font-size: 48px;
    font-size: 4.8rem;
    font-weight: 600;
    color: #fff;
    margin: 0 0 20px;
}

#title_bar .entry-meta {
    margin-bottom: 20px;
}

#title_bar a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#title_bar a:hover {
    color: #18405f;
}

#title_bar .entry-meta .entry-categories,
#title_bar .entry-meta .entry-tags {
    display: inline-block;
    margin-right: 14px;
}

#title_bar .entry-meta .entry-categories:before,
#title_bar .entry-meta .entry-tags:before {
    position: relative;
    margin-right: 14px;
    font-family: dashicons;
    width: 24px;
    height: 24px;
    font-size: 24px;
    font-style: normal;
    top: 4px;
    
    text-shadow:
       -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
         1px 1px 0 #fff;
}

#title_bar .entry-meta .entry-categories:before {
    content: "\f318";
}

#title_bar .entry-meta .entry-tags:before {
    content: "\f323";
}

#title_bar .archive-description, 
#title_bar .author-box {
    background-color: transparent;
    margin-bottom: 0; 
    padding: 0;
}

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 16px;
	font-size: 1.6rem;
}

.sidebar li {
	border-bottom: 1px dotted #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background-color: #fff;
	margin-bottom: 40px;
	padding: 40px;
}

/*  ## Nav-widget
--------------------------------------------- */
.nav-widget {
    text-align: left; 
}

.nav-widget, .nav-widget .widget-title {
    color: #fff;
}

.nav-widget .widget {
    padding: 10px 40px;
}

.nav-widget .widget a:hover {
    color: #fff;
}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #3f4652;
	clear: both;
	padding-top: 40px;
}

.footer-widgets,
.footer-widgets a {
	color: #aaa;
}

.footer-widgets input {
	border: 1px solid #3f4652;
}

.footer-widgets a.button,
.footer-widgets a:hover,
.footer-widgets a:focus {
	color: #fff;
}

.footer-widgets li {
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets p:last-child {
	margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 340px;
}

.footer-widgets-1 {
	margin-right: 60px;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #3f4652;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	padding: 40px 0;
	text-align: center;
    color: #fff;
}

.site-footer p {
	margin-bottom: 0;
    color: #fff;
}

.site-footer a {
    color: #fff;
    text-decoration: underline;
}

.site-footer a:hover {
    color: #fff;
    text-decoration: none;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.sidebar-primary,
	.title-area {
		width: 300px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.title-area {
		width: 300px;
	}

	.footer-widgets-1 {
		margin-right: 30px;
	}

}

@media only screen and (max-width: 960px) {

	.site-inner,
	.wrap {
		max-width: 800px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header .wrap {
		padding: 10px 5%;
	}

	.header-image .site-title > a {
		background-position: center top;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

    .site-description,
    .site-header .title-area,
    .site-header .search-form,
    .site-title {
        text-align: left;
    }   

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.genesis-nav-menu > .search, 
    .nav-widget .widget {
        padding: 10px 20px;
    }

	.footer-widgets-1 {
		margin-right: 0;
	}

}

@media only screen and (max-width: 800px) {

	body {
		background-color: #fff;
		font-size: 16px;
		font-size: 1.6rem;
	}

	.site-inner,
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings,
	.sidebar .widget,
	.site-header {
		padding: 0;
	}

    .genesis-nav-menu > .search, 
    .nav-widget .widget {
        padding: 10px 0;
    }

    .entry,
    .entry-comments,
    .comment-respond,
    .comment-list li {
        padding: 20px 5%;
    }

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}

    .site-inner {
        padding-top: 20px;
    }

    

    .site-header {
        background-color: #fff;
        min-height: 0px;
    }

    .site-header .wrap {
        padding: 0;
    }

    .title-area {
        padding: 0;
    }

    .site-header .site-avatar {
        position: relative;
        float: left;
        margin: 0 20px 0 0;
        width: 96px;
        text-align: left;
    }

    .site-header .site-avatar .avatar {
        float: left;
        width: 96px;
        height: auto;
        border-radius: 0;
    }

    .site-title {
        margin-top: 5px;
        text-align: left;
    }

    .site-description {
        text-align: left;
    }

    .brick .entry-header .alignright {
        float: none;
        text-align: left;
    }

    .menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-size: 2rem;
        width: 96px;
        height: 96px;
        background-color: #18405f;
        margin-top: 0;
    }

    .menu-btn:hover,
    .menu-btn:focus,
    .menu-btn:active,
    .off-canvas-active .menu-btn {
	    color: #fff;
    }

    .menu-btn:hover {
	    -webkit-box-shadow: inset 1px 1px 21px 0px rgba(51,51,51,0.3);
        -moz-box-shadow: inset 1px 1px 21px 0px rgba(51,51,51,0.3);
        box-shadow: inset 1px 1px 21px 0px rgba(51,51,51,0.3);
    }

    .menu-btn span {
        position: absolute;
        line-height: 1.6;
        margin-left: 0;
        margin-top: 0;
        width: 64px;
        height: 64px;
        font-size: 64px;
        font-weight: 300;
        top: 50%;
        margin-top: -48px;
        left: 50%;
        margin-left: -32px;
    }

    #title_bar .wrap {
        padding: 40px 5% 20px;
        padding: 4rem 5% 2rem;
    }

    #title_bar h1 {
        font-size: 36px;
        font-size: 3.6rem;
    }
}

@media only screen and (max-width: 640px) {
    .nav-primary {
        width: 260px;
    }

    .nav-primary {
	    -webkit-transform: translateX(260px);
	    -moz-transform: translateX(260px);
	    -ms-transform: translateX(260px);
	    -o-transform: translateX(260px);
	    transform: translateX(260px);
    }

    .off-canvas-active .site-container {
	    -webkit-transform: translateX(-260px);
	    -moz-transform: translateX(-260px);
	    -ms-transform: translateX(-260px);
	    -o-transform: translateX(-260px);
	    transform: translateX(-260px);
    }

    .nav-primary .close-btn {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .nav-primary .close-btn span {
        font-size: 20px;
        font-size: 2rem;
    }

    .genesis-nav-menu .menu-item a {
	    padding: 10px 20px;
    }

    .site-title {
        font-size: 28px;
        font-size: 2.8rem;
    }

    .site-description {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .brick {
	    float: none;
        clear: both;
        font-size: 14px;
        margin: 0 0 1.875em !important;
        padding: 0;
        width: 97.5%; 
    }

    .brick .entry-header .entry-meta {
        text-align: left;
    }

    .site-header .site-avatar,
    .site-header .site-avatar .avatar,
    .menu-btn {
        width: 64px;
        height: 64px;
    }

    .menu-btn span {
        width: 48px;
        height: 48px;
        font-size: 48px;
        margin-top: -36px;
        margin-left: -24px;
    }
}

@media only screen and (max-width: 600px) {
    .stickymenu.top {
        top: 0;
    }
}

@media only screen and (max-width: 480px) {
    .site-header .site-avatar {
        margin: 0 10px 0 0;
    }

    .site-title {
        font-size: 20px;
        font-size: 2rem;
        margin-top: 2px;
    }

    .site-description {
        font-size: 13px;
        font-size: 1.3rem;
    }

    .site-header .site-avatar,
    .site-header .site-avatar .avatar,
    .menu-btn {
        width: 48px;
        height: 48px;
    }

    .menu-btn span {
        width: 36px;
        height: 36px;
        font-size: 36px;
        margin-top: -28px;
        margin-left: -18px;
    }
}

@media only screen and (max-width: 360px) {
    .site-description {
        font-size: 11px;
        font-size: 1.1rem;
    }
}


/* # Print Styles
---------------------------------------------------------------------------------------------------- */

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	.site-title > a:after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
		top: -100px;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}